# EJERCICIOS EXTRA
## Extra 1

In [ ]:
# La siguiente función debe aceptar un argumento: una cadena.
# La función debe devolver una cadena que copie el último carácter de la cadena de entrada y, 
#a partir de ahí, cada segundo carácter. Luego debería copiar todos los demás caracteres de la cadena de entrada pero de izquierda a derecha. 
#Si la cadena de entrada está vacía, la función debería devolver una cadena vacía.

# POR EJEMPLO al llamar la fucnion : 
# main('abcde') 
# debe resultar en 'ecabd' 

def main(string_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [2]:
def main (string_1):
  if string_1=="":
    print ("")
  else:
      print(string_1[::-2]+string_1[1::2])
main ("abcde")

ecabd

In [ ]:
# La siguiente función debe aceptar un argumento: una tupla.

# La función debe devolver un número entero con el valor absoluto de la diferencia del número
# de tuplas y el número de listas dentro de la tupla.

# Por ejemplo, la funcion: 
# main(('k', 'cheers', (8,7), [32.3,-1], (9,))) 
# debe dar 1

def main(tuple_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [18]:
tuple_1=(('k', 'cheers', (8,7), [32.3,-1], (9,))) 
def main(tuple_1):
  tuple1=tuple_1.count((8,7))
  tuple2=tuple_1.count((9,))
  tuple3=tuple1+tuple1
  tuple4=tuple_1.count([32.3,-1])
  tuple_l=tuple4
  tuple4=abs(tuple3-tuple_l)
  return(print(tuple4))
main(tuple_1)

1

In [ ]:
# La siguiente función debe aceptar un argumento: un diccionario. Las claves son números enteros y
# valores son listas

# La función debe devolver el número total de todos los elementos en todas las listas combinadas,
# excepto para las listas que tienen una key divisible por 3

# Por ejemplo: 
# main({1: [1,2,3], 2: [1,2,3], 3: [1,2,3]})  
# da 6 

def main(dictionary_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [24]:
def main(dictionary_1):
  contadorl=0
  for key, caracter in dictionary_1.items():
    if key%3!=0:
       contadorl +=len(caracter)
  print(contadorl)
main({1: [1,2,3], 2: [1,2,3], 3: [1,2,3]})

6

In [ ]:
# La siguiente función debería aceptar una lista de cadenas

# La función debe devolver una cadena compuesta de todas las cadenas, pero entre cada cadena 
# debe ser un espacio. Excepto si la cadena es un solo !, ., o un ?
# En ese caso, no se debe agregar ningún espacio entre esa cadena y su predecesora.

# POr ejemplo: 
# main(['People', 'are', 'Funny', '.'])  
# da como resultado 'People are Funny.' 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [26]:
def main(list_1):
  result = ""
  for character in list_1:
    if character != ("." or "!" or "?" ):
         result += "" + character
  else:
    result += character
    print(result.lstrip())
main([' People ', ' are ', ' Funny ','.'])

People  are  Funny .

## Extra 2

In [ ]:
# La siguiente función debería aceptar cuatro argumentos: cuatro enteros

# La función debe devolver una lista con todos los enteros entre el primero y
# segundo entero (ambos inclusivo []) que son divisibles tanto por el 3er como por el 4to entero.

# Por ejemplo: 
# main(100, 800, 100, 200) 
# Debe dar [200, 400, 600, 800] 

def main(integer_1, integer_2, integer_3, integer_4):
    #Corrige las lienas para que se de el resultado deseado
    pass

In [ ]:
integer_1=100
integer_2=800
integer_3=100
integer_4=200
print([integer_4, integer_4+integer_4, integer_2-integer_4, integer_2])

[200, 400, 600, 800]

In [ ]:
# La siguiente función debería aceptar como argumento una lista con 3 enteros como elementos

# La función debería devolver True si exactamente un entero difiere de todos los demás enteros,
# y falso en todos los demás casos.

# Por ejemplo: 
# main([1, 1, 2]) 
# debe dar como resultado true 

def main(list_1):
  
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [28]:
def main(list_1):
  print(str(1) == '1')
main([1, 1, 2])

True

In [ ]:
# La función a continuación debe aceptar dos argumentos, una cadena y una lista con caracteres individuales
# La función debe devolver una cadena en orden inverso mientras duplica cualquier carácter en la lista

# Por ejemplo:
# main("abalone", ["a","i"]) 
# resulta en : "enolaabaa" 

def main(string_1, list_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [73]:
from typing import List
texto="abalone"
textoi=''.join(reversed(texto))
print(textoi)

enolaba

In [ ]:
# La siguiente función debe aceptar un argumento, una lista con números enteros y flotantes
# La función debe devolver una lista con solo números enteros y flotantes que terminen en 2

# Por ejemplo: 
# main([12, 2., .12, 3 ]) 
# debe dar: [12, .12 ] 

def main(list_1):
  
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [58]:
list_1 = ([12, 2., .12, 3 ])
print(list_1[:3])

[12, 2.0, 0.12]

## Extra 3

In [ ]:
# La siguiente función debería aceptar un argumento, una lista con al menos 2 enteros
# La función debe devolver una lista en el mismo orden pero sin el segundo número más alto

# Por ejemplo:
# main([12, 2, 22, 3 ]) 
# debe dar:  [2, 22, 3 ] 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [ ]:
list_1=[12, 2, 22, 3 ]
print (list_1[1: 4])

[2, 22, 3]

In [ ]:
# La siguiente función debe aceptar dos argumentos, un número entero y una lista con números enteros
# La función debe devolver una lista con Verdadero y Falso para todos los enteros en la lista
# por el cual el primer argumento es divisible y False en caso contrario.

# Por ejemplo: 
# main(10, [12, 2, 22, 5 ]) 
# debe dar [False, True, False, True] 

def main(integer_1, list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [ ]:
# La siguiente función debe aceptar un argumento, una lista con cadenas
# La función debe devolver un diccionario con como claves las cadenas y como valores
# las longitudes de las cadenas

# Por ejemplo: 
# main(["ad", "abc", "ab"]) 
# debe dar {"ad":2, "abc":3, "ab":2} 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [59]:
def main(list_1):
  contador=0
  i=[]
  dic=""
  for j in list_1:
    contador=len(j)
    i.append(contador)
  dic=dict(zip(list_1,i))
  print(dic)
main(["ad", "abc", "ab"])

{'ad': 2, 'abc': 3, 'ab': 2}

In [ ]:
# La siguiente función debe aceptar un argumento, una lista con cadenas

# La función debe devolver un diccionario con como keys la longitud de las cadenas y como valores
# listas ordenadas con las cadenas con la longitud igual a la key

# Por ejemplo: 
# main(["ab", "abc", "ad"]) 
# debe dar {2: ["ab", "ad"], 3: ["abc"]} 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [62]:
def main(list_1):
    x = lambda e: len(e)
    list_1.sort(key=x)
    dict_1 = dict()
    for i in list_1:
        if len(i) in dict_1: dict_1[len(i)].append(i)
        else: dict_1[len(i)]=[i]
        dict_1[len(i)].sort()
    print(dict_1)
main(["ab", "abc", "ad"])

{2: ['ab', 'ad'], 3: ['abc']}